<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vidrom">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ip_camera"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ip_camera"
        android:supportsRtl="true"
        android:theme="@style/Theme.FloatingApplication">
        <activity
            android:name="com.example.vidrom.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FloatingApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.vidrom.FloatingWindow"
            android:showOnLockScreen="true"
            tools:ignore="Instantiatable" />

        <receiver
            android:name="com.example.vidrom.PhoneStateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>